
<a id="AboutUs">
    <section class="my-4">
        <div class="py-4">
            <h2 style="text-align: center; color:white; border:blue 2px solid; background-color:blue;" class="text-center">About US</h2>
        </div>
        <div class="container-fluid">
            <p class="text-left"><b> We are a recruitment Company and providing a service Since 5 years and
                providing the best Candidates for Clients,<br>
                We understand that quality is always appreciable than quantity, that’s why we have implemented a
                defined process to maintain it. <br>
                1.Pre Interview<br>
                2.Post Interview.<br>
                3.strictly check communication, interest level of the candidates.<br>
                    <br> We find the best telent for you.
                    with accuracy search of dedicate candidate. For reliability that finally we will deliver the
                    required services.
                </b>
            </div>


                <div class="max-width-1 m-auto"><hr></div>
                <div class="max-width-1 m-auto font2">

            <div class="fieldset">
            <fieldset style="border:blue 2px solid; margin-left: 10px; margin-right: 50px; margin-top: 0px; text-align: center; color: aliceblue; background-color: grey">
            <b>ARPIT YADAV (Director)</b><br>
            <b>+91-8085809797</b><br>
            <b>Personal : aarpityadav96@gmail.com</b> <br>
            <b>Offical : arpit.aimsjobhub@gmail.com</b>
            </fieldset>
            </div>
