// About Us Tag
.text-center{
  font-size: 45px;
  margin-top: 0px;
  margin-bottom:0px;
  margin-left: 40px;
  margin-right: 40px;
}



// about brief Tag
.text-left{
  padding-top: 10px;
  font-size: 20px;
  padding-left: 40px;
  margin-top: 0px;
  margin-bottom:300px;
  margin-left: 20px;
}


