

  <div class="text-align: center contact-content font1 max-width-1 m-auto">
    <div class="max-width-1 m-auto mx-1">
        <h2>Feel Free to Contact Us</h2>

        <div class="contact-form">
            <div class="form-box">
                <input type="text" placeholder="Enter Your Name" id="name">
            </div>

            <div class="form-box">
                <input type="text" placeholder="Enter Your Phone Number" id="mobile">
            </div>

            <div class="form-box">
                <input type="email" placeholder="Enter Your Email Id" id="email">
            </div>

            <div class="form-box">
                <textarea name="" id="msg" cols="21" rows="6" placeholder="How may we help you?"></textarea>
            </div>

            <div class="form-box">
                <button class="btn" onclick="Submit()">Submit</button>
            </div>

        </div>
    </div>
